
@{
    Layout = "~/Views/Layout/_LayoutFlowerShop.cshtml";
    ViewBag.Title = "产品细节";
}
<style>
    .content_half{
        margin-right:50px;
    }
    #templatemo_main_wrapper
    {
        min-height:550px;
    }
</style>
<script>
    $(function () {
        var gid;
        gid = @ViewBag.gids;
        //alert(gid);
        GetGoods(gid);

        var uid;
        uid=@ViewBag.Uid;
       

        $("#addshoppingCart").live('click', function () {
            var num = $("#numshop").val();
            var Gprice = $("#Gprice").text();
            //alert(num);
            //alert(Gprice);
            //alert(uid);
            $.ajax({
                type: "POST",
                url: "/FlowerShop/AddshoppingCart",
                dataType: "json",
                data: { "gid": gid, "num": num, "uid": uid, "Gprice": Gprice },
                beforeSend: function () {
                },
                success: function (strjson) {
                    if (strjson.status == 1) {
                        alert("添加购物车成功，请到购物车中查看！");
                        location.href = "/FlowerShop/shoppingCart";
                    } else {
                        alert(strjson.msg);
                        clearform();
                    }
                    return false;
                }
            });
            return false;
        });
    })
    function GetGoods(gid) {
        $.ajax({
            url: "/FlowerShop/GoodsoneVail?gid=" + gid,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#content_ste").append(data);
            },
            error: function (mag) {
                $("#content_ste").append("无法获得数据！");
            }
        });
    }
</script>

<div id="templatemo_wrapper_sp">
    <div id="templatemo_header_wsp">
        <div id="templatemo_header" class="header_subpage">
            <div id="site_title"><a href="#" rel="nofollow">Flower Shop</a></div>
            <div id="templatemo_menu" class="ddsmoothmenu">
                <ul>
                    <li>@Html.ActionLink("首页", "index", "FlowerShop")</li>
                    <li>@Html.ActionLink("店铺", "About", "FlowerShop")</li>
                    <li>
                        @Html.ActionLink("论坛", "faqs", "FlowerShop")
                        <ul>
                            <li>@Html.ActionLink("查看论坛", "showForum", "FlowerShop")</li>
                            <li>@Html.ActionLink("发布日志", "sendForum", "FlowerShop")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("发现新事物", "contact", "FlowerShop")</li>
                    <li>@Html.ActionLink("购物车", "shoppingCart", "FlowerShop")</li>
                    <li>
                        @Html.ActionLink("我的", "products", "FlowerShop")
                        <ul>
                            <li>@Html.ActionLink("订单查看", "products", "FlowerShop")</li>
                            <li>@Html.ActionLink("完善信息", "UserImprovement", "Home")</li>
                            <li><a href="javascript:;" onclick="upEdit('/Home/UserEdit')">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
                       
                        <br style="clear: left" />
</div>
            <!-- end of templatemo_menu -->

        </div> <!-- END of header -->
    </div> <!-- END of header wrapper -->
    <div id="templatemo_main_wrapper">
        <div id="templatemo_main">

            <div class="" id="content_ste">
                
               
            </div>
            <div class="cleaner"></div>
        </div> <!-- END of main -->
    </div> <!-- END of main wrapper -->

    <div id="templatemo_footer_wrapper">
        <div id="templatemo_footer">
            <p class="p1">我的花草世界--爱尚花坊 @DateTime.Now</p>
        </div> <!-- END of footer -->
    </div> <!-- END of footer wrapper -->
</div>